body {
    font-family: Arial, sans-serif; /* Standard font */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #a7b7b5; /* Light background */
    color: #333; /* Dark text */
}

header {
    background: #316caf; /* White header */
    color: #333; /* Dark text */
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #ccc; /* Light gray border */
    position: relative; /* Position relative for absolute positioning of the image */
}

#imgheader {
    position: absolute;
    left: 50px; /* Adjusted left position */
    top: 30px; /* Adjusted top position */
    width: 150px; /* Adjusted size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10%; /* Circular image */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333; /* Dark text */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition */
}

nav ul li a:hover {
    text-decoration: underline;
    color: #64218b; /* Blue color on hover */
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff; /* White section background */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}

h2 {
    color: #333; /* Dark text */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #ffffff; /* White footer background */
    color: #333; /* Dark text */
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: #3a46c1; /* Blue links */
}

a:hover {
    text-decoration: underline;
    color: #8031b8; /* Darker blue on hover */
}